<html lang="en">  
    <head>   
        <title>Advanced Templating</title>  
    </head>  
    <body>    
        {{>header}} <!--inclui o componente "header"-->
        <p>I'm a savior</p>    
        {{>footer}} <!-- inclui o componente "footer"-->
    </body>
</html>